<% @users.each do |user| %>
    <div class="user-container">
        <div class="user-avatar">
            <%= user.photo %>
        </div>
        <div class="user-name">
            <h2>User name: <%= user.name %></h2>
        </div>
        <div class="num-posts">
            <p> number of posts: <%= user.posts_counter %> </p>
        <div>
    </div>
<% end %>