<div class="post-container">
    <div class="post-title">
        <h4> <%= post.title %> </h4>
    </div>
    <div class="post-body">
        <p> <%= post.text %> </p>
    </div>
    <div class="post-comments">
        <p> <%= post.comments_counter %> comments <%= post.likes_counter %> likes </p>
    </div>
</div>