<%= render @post %>

<div class="comments-container">
    <h3>Comments</h3>
    <% @post.comments.includes([:author]).each do |comment| %>
        <div class="comments">
            <div class="comment-body">
                <p> <%= comment.author.name %>: <%= comment.text %> </p>
            </div>
        </div>
    <% end %>
</div>

<%= render "comments/form" %>